<div class="card">
  <% overlay = tshirt.photo.url[61..-1] %>
  <% img_white = "https://res.cloudinary.com/dju9xcsec/image/upload/l_#{overlay},h_#{tshirt.height ? tshirt.height },w_#{tshirt.width ? tshirt.width : 100},x_#{tshirt.x ? tshirt.x : 100},y_#{tshirt.y}/v1553144623/White.jpg" %>
  <% img_black = "https://res.cloudinary.com/dju9xcsec/image/upload/l_#{overlay},w_#{tshirt.width},h_#{tshirt.height},x_#{tshirt.x},y_#{tshirt.y}/v1553144618/Black.jpg" %>
  <div class="img-container">
    <div class="img-white img-tshirt" style="background-image: url('<%= img_white %>');"></div>
    <div class="img-black img-tshirt" style="background-image: url('<%= img_black %>');"></div>
  </div>
  <div class="card-details">
    <h1><%= link_to tshirt.name, tshirt_path(tshirt) %></h1>
    <h1><%= humanized_money_with_symbol(tshirt.price) %></h1>
  </div>
</div>
