<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/generico.io/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/generico.io/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/generico_io?lang=en/" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2019</p>
    <a href="/public_policy.html" target="_blank">Privacy Policy</a>
  </div>
</div>
