<div class="navbar-wagon">
  <a href="root"><i class="fas fa-tshirt"></i></a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Register</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Login</a>
  </div>
</div>
