<div class='modal-header precheckout_modal_header'>
  <h2 class='modal-title precheckout_modal_title' id='myModalLabel'>Your order</h4>
  <button type='button' class='close' data-dismiss='modal'>x</button>
</div>

<form id="new_pre_checkout_form" class="precheckout_form" action="" method="post">
  <div class='modal-body precheckout_modal_body'>
    <table class="precheckout_items_table precheckout_table">
      <thead class="precheckout_items_table_head">
        <tr>
          <th class="line_items_table__heading precheckout_items_table__item--image"></th>
          <th class="line_items_table__heading">Qty</th>
          <th class="line_items_table__heading">Size</th>
          <th class="line_items_table__heading precheckout_items_table__item--price">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="precheckout_items_table__item precheckout_items_table__item--image">
            <img class="image_stack__nav_item_thumb" src="<%= cl_image_path(@tshirt.photo)  %>" alt="">
          </td>
          <td class="precheckout_items_table__item precheckout_items_table__item--qty">
            <div>
              <input name="pre_checkout_form[line_items_attributes][0][quantity]" type="text" value="1">
            </div>
          </td>
          <td>
            <div>
               <select>
                <option value="none">---</option>
                <option value="small">S</option>
                <option value="medium">M</option>
                <option value="large">L</option>
              </select>
            </div>
          </td>
          <td><span><%= @tshirt.price %></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='modal-footer'>
      <div class="payment_options_actions payment_options_actions--shopping-cart">
        <button class='btn btn-primary' name="add_to_cart" value="true" type="submit">Add to Cart</button>
      </div>
      <div class="payment_options_info payment_options_info--shopping_cart">
        <%= link_to "Proceed to Checkout", items_path,
        :class =>'btn btn-primary',  :name => "add_to_cart_and_checkout",
        :value =>"Checkout", :type => "submit" %>
      </div>
  </div>
</form>
