<div class="container">
  <div class="row">
    <% @tshirts.each do |tshirt| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render './components/card', tshirt: tshirt %>
      </div>
    <% end %>
  </div>
</div>
