<h1>Tshirts index</h1>
<%= link_to "Add a new shirt", new_tshirt_path %>
<br>
<br>
<% @tshirts.each do |tshirt| %>
  <%= tshirt.id %>
  <%= link_to tshirt.name, tshirt_path(tshirt) %>
  <%= tshirt.description %>
  <br>
<% end %>

