<h1>Tshirts#new</h1>
<p>Find me in app/views/tshirts/new.html.erb</p>
<%= simple_form_for(@tshirt) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit "Add a new shirt", class: "btn btn-primary" %>
<% end %>

