<%= render './components/carousel' %>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-1 col-md-2">
      <div class="facet-menu">
        <ul class="facet-list">
          <h5>Categories</h5>
          <% Design.tagsArray.each do |tag| %>
            <li class="facet-item"><%= link_to tag, designs_path(:query => tag) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-11 col-md-10">
      <h4>Browse our catalogue from independent artists</h4>
      <div class="row">
        <% @designs.each do |design| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render './components/card', design: design %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
