<div class="background-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url('https://source.unsplash.com/koo_vYrlU_U');">
  <div id="background-checkout" class="background-form">
    <img class="logo-lg" src="https://res.cloudinary.com/dju9xcsec/image/upload/v1553633304/Logo.png">
    <h4>Finalize your purchase!<%#= @order.tshirt_sku %></h3>

  </div>
</div>
