.flash {
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 4px;
}

.flash-success {
  border: 2px solid black;
}

.flash-warning {
  border: 2px solid black;
}

.flash-danger {
  border: 2px solid black;
}
