.background-img {
  display: flex;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.background-form {
  display: inline-block;
  margin: 20px auto;
  background: white;
  opacity: 0.9;
  padding: 10px 100px;
  border-radius: 5px;
}

.background-form img {
  text-align: center;
}

.background-form h4 {
  text-align: center;
}

.background-shared-links, .form-actions {
  text-align: center;
}

#background-checkout {
  margin: 200px auto;
  padding: 10px 50px;
}

#background-checkout, img {
  text-align: center;
}
