.buttons-navigation {
  position: absolute;
  bottom: 10px;
}

.btn-carbon-primary {
  height: 50px;
  width: 150px;
  margin: 5px;
  padding: 10px 10px;
  background-color: #FEFCFB;
  border: 2px solid #034078;
  color: #034078;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0.9;
}

.btn-carbon-primary:hover {
  color: #034078;
  opacity: 1;
  border: 2.5px solid #034078;
}

.btn-carbon-lg {
  font-size: 18px;
  width: 300px;
}

.btn-carbon-sm {
  font-size: 14px;
  width: 100px;
}

.stripe-button-el {
  display: none !important;
}

