.require-input {
  color: #f57e64;
  font-size: 12px;
  vertical-align: text-top;
}

.checkout-right {
  margin-left: 20px;
}

.checkout-top-border {
  border-bottom: 0.5px solid lightgrey;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 0.5px solid lightgrey;

}

.checkout-item-title {
  font-weight: bolder;
  text-transform: uppercase;
}

.checkout-total {
  margin-top: 20px;
}
