.checkout_form {
  display: flex;
  min-height: 100vh;
  cursor: default;
}

.checkout_details {
  flex: 1 1 50%;
  background: #f6f6f8;
}

.checkout_summary {
  flex: 1 1 50%;
}

.input-with-icon {
  margin-bottom: 15px;
}

.checkout_details_wrap {
  position: relative;
  max-width: 660px;
  margin: 56px 0 0 auto;
  padding: 0 64px 84px;
}

.checkout_heading {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 20px;
}

.require-input {
  color: #f57e64;
  font-size: 12px;
  vertical-align: text-top;
}

.checkout_summary_wrap {
  margin: 0 auto 0 0;
  min-width: 400px;
  max-width: 520px;
  padding: 48px;
}

.checkout_total {
  font-weight: bold;
  font-size: 36px;
}

.checkout_separator {
  border-bottom: 1px solid #ddd;
  align-items: center;
  margin: 15px 0;
  font-weight: bold;
}

.checkout_payment {
  margin-top: 15px;
}
