#imagedest {
  position: relative;
  z-index: -1;
}

#user-image {
  position: relative;
  z-index: 1;
}

// .draggable {
//   // touch-action: none;
//   /* This makes things *much* easier */
//   box-sizing: border-box;
//   position: absolute;
//   top: 25%;
//   left: 27%;
// }

// .drag-container {
//   position: relative;
//   display: inline-block;
//   width: 500px;
//   height: 550px;
// }
.resize-drag {
  touch-action: none;
  position: absolute;
  box-sizing: border-box;
  top: 25%;
  left: 27%;
}

.resize-container {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 550px;
  background: url('https://res.cloudinary.com/dju9xcsec/image/upload/v1553144623/White.jpg');
  background-size: cover;
}
