.footer {
  background: #FEFCFB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0px 30px;
  color: #0A1128;
  border-top: 1px solid #D1CCDC;
}

.footer-links a {
  color: #0A1128;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 24px;
}
.footer-links a:hover {
  color: #034078;
}

.footer-privacy a {
  text-decoration: none;
  color: #0A1128;
}

.footer-privacy a:hover {
  color: #034078;
}

.footer-copyright p {
  color: #0A1128;
}
