.navbar-lewagon {
  display: flex;
  background: black;
  color: white;
  justify-content: space-between;
  height: 10vh;
  padding: 0px 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: white;
}
