.navbar-carbon {
  display: flex;
  background: #FEFCFB;
  justify-content: space-between;
  height: 7vh;
  border-bottom: 1px solid #D1CCDC;
  box-shadow: 0 0 4px #D1CCDC;
  padding: 0px 30px;
}
.navbar-carbon .navbar-collapse {
  flex-grow: 0;
}
.nav-link {
  color: #0A1128;
}
.nav-link:hover, .nav-link:focus {
  color: #034078;
  font-weight: bold;
}

//h-offset v-offset blur spread color

#cart-icon {
  padding-right: 15px;
  padding-top: 5px;
  color: black;
}
